/* Resets ----------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* Fonts ------------------------------------------------------------------------------------------------------*/
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* Variables --------------------------------------------------------------------------------------------------*/
:root {
    --bg-green: rgba(49,87,67,1);
    --bg-dark-blue: rgba(2,0,36,1);
    --pink: rgba(211, 38, 88, 1);
}

img {
    max-width: 100%;
}
html {
    height: 100%;
    background: var(--bg-dark-blue);
    font-size: 16px;
}


body {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    color: var(--pink);
}
main {    
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p {
    padding: 1rem;
    font-size: 18px;
    letter-spacing: -0.014em;
    line-height: 25px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

hr {
    width: 100%;
}

/* Form Styles ----------------------------------------------------------------------------------------------------*/

input:invalid {
    border: var(--pink) solid 3px;
  }

input[type="text"] {
    width: 220px;
}

/* @media styles --------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
    p {
        width: 100vw;
    }
}

@media  (min-width: 769px) and (max-width: 899px) {
    p {
        width: 95vw;
    }

    hr {
        width: 75vw;
    }
}

@media (min-width: 800px) {
    p {
        width: 75vw;
    }

    footer a {
        max-width: 50%;
    }

    
    hr {
        width: 70vw;
    }
}

@media  (min-width: 1000px) {
    p {
        width:900px;
    }

    footer .logo {
        max-width: 40%;
    }
}

/* Class and id styles  --------------------------------------------------------------------------------------------------*/

.bg-gradient {
    background-image: linear-gradient(0deg, var(--bg-dark-blue) 10%, var(--bg-green) 65%);
    background-repeat: no-repeat;
}

.bg-gradient-tour {
    background-image: linear-gradient(0deg, var(--bg-dark-blue) 10%, var(--bg-green) 50%);
    background-repeat: no-repeat;

}

.tour {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}


.signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.timer {
    font-size: 2.5rem;
    height: 3rem;
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.countdown h2 {
    font-size: 2rem;
    font-weight: 900;
}

#elvanto-form-7115 {
    width: 20rem;
    color: white;
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
}


/* Button Styles ----------------------------------------------------------------------------------------------------*/
.btn {
    appearance: button;
    background-color:var(--pink); 
    border:none; 
    color:white; 
    display:inline-block; 
    padding:15px 32px; 
    text-align:center; 
    text-decoration:none; 
    width:230px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.btn-disabled {
    background-color: gainsboro; 
    color:ghostwhite; 
}

